canvas {
  background: url(background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 350px;
  z-index: 0;
 }

html {
  background-color: black;
}


#canvas-container {
  display: relative;
}

#splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#levelup {
  display: none;
}

#levelup-container {
  display: none;
  width: 180px;
  height: 30px;
  background-color: #0d9a92;
  opacity: .85;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: "Bangers", sans-serif;
  font-size: 28px;
  box-shadow: 5px 5px 3px #888888;
  position: absolute;
  right: 550px;
  top: 250px;
  z-index: 1
}

#gameover-container {
  display: none;
  width: 180px;
  height: 30px;
  background-color: #0d9a92;
  opacity: .85;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: "Bangers", sans-serif;
  font-size: 28px;
  box-shadow: 5px 5px 3px #888888;
  position: absolute;
  right: 300px;
  top: 250px;
  z-index: 1
}


#Splash {
  width: 100%;
  text-align:center;
  color: black;
  border: 10px solid white;
  width: 800px;
  height: 600px;
  position: relative;
  background: #3698dc;
  top: 50px;
}

#InstructionsPage {
  display: none;
  width: 100%;
  text-align:center;
  color: black;
  border: 10px solid white;
  width: 800px;
  height: 600px;
  position: relative;
  background: #9ccee6;
  top: 50px;
}

#InstructionsPage img {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 600px;
  height: 550px;
}

#InstructionsPage p {
  position: absolute;
  top: 200px;
  left: 210px;
  width: 350px;
  font-size: 19px;
  font-weight: 600;
}


#Splash img {
  width: 790px;
  height: 470px;
  position: absolute;
  top: 50px;
  left: 0px;
}

#Start {
  position: absolute;
  top: 340px;
  left: 320px;
  font-family: "Bangers", sans-serif;
  box-shadow: 3px 3px 1.5px #888888;
  background-color: #345eed;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 24px;
  color: white;
  border: 1px solid gray;
  outline: none;

}



#Back {
  position: absolute;
  top: 525px;
  left: 530px;
  font-family: "Bangers", sans-serif;
  background-color: #4ac6c4;
  border: none;
  padding: 2px 30px;
  border-radius: 6px;
  font-size: 24px;
  color: white;
  outline: none;
}

#InstructionsButton {
  outline: none;
  position: absolute;
  top: 340px;
  left: 130px;
  font-family: "Bangers", sans-serif;
  box-shadow: 3px 3px 1.5px #888888;
  background-color: #ef4d3b;
  border: none;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 24px;
  color: white;
  border: 1px solid gray;
}


#myCanvas {
  display: none;
   z-index: 1;
}

#Stop {
  outline: none;
  position: absolute;
  top: 700px;
  left: 238px;
  width: 120px;
  height: 50px;
  font-family: "Bangers", sans-serif;
  background-color: #32aaa9;
  border: none;
  display: none;
  padding: 3px 15px;
  border-radius: 3px;
  font-size: 20px;
  color: white;
}

#Pause {
  display: none;
}

  #PauseMusic {
    outline: none;
    position: absolute;
    display: none;
    top: 650px;
    left: 238px;
    width: 120px;
    height: 45px;
    font-family: "Bangers",sans-serif;
    background-color: #9114d3;
    border: none;
    padding: 3px 15px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
  }

input, button:hover {
  cursor: pointer;
}
